<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" type="imagem/png" href="img/livraria-ico.png" />
<title>Adicionar Livro</title>
<link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="css/admin.css" rel="stylesheet" />
<link href="css/form.css" rel="stylesheet" />
</head>
<body>

<div th:insert="~{fragment/admin :: menu}"></div>
	<p th:text="${nome}"></p>

<div th:insert="~{fragment/admin :: footer}"></div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/form.js"></script>

</body>
</html>