<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="imagem/png" href="../img/livraria-ico.png" />
	<title th:text="${livro.titulo + ' - Livraria Assis'}"></title>
	<link th:href="@{../css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link href="../css/main.css" rel="stylesheet" />
	<link th:href="@{../css/detalhes.css}" rel="stylesheet" />
</head>
<body>

	<div th:insert="~{fragment/main :: menu}" class="header"></div>
	
	<div class="jumbotron jumbotron-fluid">
	
		<div class="container">
	
			<article id="livro-css-eficiente">
			<header id="product-highlight" class="clearfix">
				<div id="product-overview" class="container">
					<img width="280px" height="395px" th:src="${'../img/capa/' + livro.sumarioPath}"
						class="product-featured-image" />
					<h1 class="product-title"><span th:text="${livro.titulo }"></span></h1>
					<p class="product-author">
						<span class="product-author-link"> </span>
					</p>
					<p class="book-description"><span th:text="${livro.descricao }"></span></p>
				</div>
			</header>
	
			<section class="buy-options clearfix">
				<form action='../Lista-de-itens' method="post" class="container" enctype="multipart/form-data">
					<input type="hidden" th:value="${livro.id }" id="livroId" name="livroId" >
					<ul id="variants" class="clearfix">
							<li class="buy-option">
								<span class="variant-price" th:text="${livro.preco }"></span>
							</li>
					</ul>
					<button type="submit" class="btn submit-image icon-basket-alt" title="Compre Agora"></button>
				</form>
			</section>
	
			<div class="container">
				<section class="summary">
					<ul>
						<li>
							<h3>E muito mais... <a href='#'>veja o sumário</a>.</h3>
						</li>
					</ul>
				</section>
	
				<section class="data product-detail">
					<h2 class="section-title">Dados do livro:</h2>
					<p>
						Número de páginas: <span th:text="${livro.paginas}"></span>
					</p>
					<p></p>
					<p>Data de publicação: 
						<span class="data-publicacao" th:text="${livro.dataLancamento}"></span>
					</p>
					<p>
						Encontrou um erro? <a href='#' target='_blank'>Relate o erro</a>
					</p>
				</section>
			</div>
		</article>
			
		</div>
	</div>
	
	<div class="footer" th:insert="~{fragment/main :: footer}"></div>
</body>
</html>