<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="imagem/png" th:href="@{../img/livraria-ico.png}" />
	<title>Livraria Assis - Finalizando Compra</title>
	<link th:href="@{../css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{../css/main.css}" rel="stylesheet" />
	<link th:href="@{../css/finalizar.css}" rel="stylesheet" />
</head>
<body>
	<div th:insert="~{fragment/main :: menu}" class="header"></div>
	
	<main role="main" class="container">
		<div class="jumbotron"  th:if="${msg_resultado}">
			<ul class="mdl-list">
				<li class="mdl-list__item">						 	
					<p id="p-mensagem" class="msg-erro" th:text="${msg_resultado}" >...</p>	
				</li>
			</ul>
		</div>
		
	
		<div class="col-lg-12">
			<h2 class="titulo-finalizar">Preencha seus dados antes de finalizar a Compra.</h2>
			<form method="post" action="terminado" id="finalizar">
				<div class="row">
					<div class="form-group col-lg">
						<label for="nome">Nome</label>
						<input class="form-control" type="text" name="nome" id="nome" autofocus placeholder="Nome Completo" required/>
					</div>
					<div class="form-group col-lg">
						<label for="email">E-mail</label>
						<input class="form-control" type="email" name="email" id="email" placeholder="E-mail" required/>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg">
						<label for="conta">Conta Corrente</label>
						<input class="form-control conta-corrente" type="text" name="conta" id="conta" placeholder="Conta" data-mask="" maxlength="9" required/>
					</div>
					<div class="form-group col-lg">
						<label for="agencia">Agência</label>
						<input class="form-control" type="text" name="agencia" id="agencia" placeholder="Agência" maxlength="4"  required/>
					</div>
					<div class="form-group col-lg">
						<label for="banco">Banco</label>
						<select name="banco" id="banco" class="form-control"  required>
		                    <option value=""> </option>
		                    <option value="0">Banco do Brasil</option>
		                    <option value="1">Bradesco</option>
		                    <option value="2">Caixa</option>
		                    <option value="3">Citibank</option>
		                    <option value="4">Itaú</option>
		                    <option value="5">Santander</option>
		                </select>
					</div>
				</div>
					<button class="btn btn-primary" type="submit">Finalizar Compra</button>
				</form>
			</div>	
	
			<table class="table table-bordered table-striped table-hover" th:unless="${carrinho.itens.empty}">
				<thead>
					<tr>
						<th>Título</th>
						<th>Descrição</th>
						<th>Páginas</th>
						<th>Capa</th>
						<th class="th-esp">Preço(s)</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="livro : ${carrinho.itens}">
						<td><span th:text="${livro.titulo }">Titulo</span></td>
						<td><span th:text="${livro.descricao }">Descrição</span></td>
						<td><span th:text="${livro.paginas }">Páginas</span></td>
						<td><img class="capas" th:src="${'../images/capa/' + livro.sumarioPath}"></td>
						<td><span th:text="${livro.preco }" class="td-preco">Preços</span></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="4">Total</th>
						<th><span th:text="${carrinho.total}">Total</span></th>
					</tr>
				</tfoot>
			</table>
		</main>
	
	<footer th:insert="~{fragment/main :: footer}" class="footer"></footer>
	<script type="text/javascript" th:src="@{../js/jquery.maskedinput.min.js}"></script>
	<script type="text/javascript" th:src="@{../js/finalizar.js}"></script>
</body>
</html>