<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="imagem/png" th:href="@{../img/livraria-ico.png}" />
	<title>Livraria Assis - Seus Itens</title>
	<link th:href="@{../css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{../css/main.css}" rel="stylesheet" />
	<link th:href="@{../css/sacola.css}" rel="stylesheet" />
</head>
<body>
	<div th:insert="~{fragment/main :: menu}" class="header"></div>
	
		<main role="main" class="jumbotron jumbotron-fluid">
	
		<div class="container">
		<h1>Seu Carrinho!</h1>
		<p th:text="${sucesso}"> sucesso </p>
		<p th:text="${falha}"> falha </p>
		
		
		<div th:if="${carrinho.itens.empty}">
			<span>Seu carrinho até o momento está vazio!</span>
		</div>
			
		<table class="table table-bordered table-striped table-hover" th:unless="${carrinho.itens.empty}">
				<thead>
					<tr>
						<th>Título</th>
						<th>Descrição</th>
						<th>Páginas</th>
						<th>Capa</th>
						<th>Remover</th> 
						<th class="th-esp">Preço(s)</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="livro, iter : ${carrinho.itens}">
						<td><span th:text="${livro.titulo }">Titulo</span></td>
						<td><span th:text="${livro.descricao }">Descrição</span></td>
						<td><span th:text="${livro.paginas }">Páginas</span></td>
						<td><img class="capas" th:src="${'../images/capa/' + livro.sumarioPath}"></td>
						<td>
							<input type="hidden" name="id" id="id" th:value="${livro.id}">
							<a th:href="${'remover/' + iter.index}"><img class="img-remover" th:src="@{../img/remover.png}"></a>
						</td>
						<td><span th:text="${livro.preco }" class="td-preco">Preços</span></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="5">Total</th>
						<th><span th:text="${carrinho.total}">Total</span></th>
					</tr>
				</tfoot>
		</table>
	</div>
		<section class="container finalizar" th:unless="${carrinho.itens.empty}">
			<div class="row">
				<div class="col-sm">
					<a th:href="@{limpar}"><button class="btn btn-secondary icon-basket-alt" title="Remover Todos">Remover Todos</button></a>
				</div>
				<div class="col-sm">
					<form action="finalizar" method="post">
						<input type="submit" class="btn submit-image btn-finalizar" name="finalizar" value="Finalizar compra" />
					</form>
				</div>
			</div>	
		</section>
	</main>
	
	
	<footer class="footer" th:insert="~{fragment/main :: footer}"></footer>
</body>
</html>