<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="imagem/png" th:href="@{../img/livraria-ico.png}" />
	<title>Livraria Assis - Seus Itens</title>
	<link th:href="@{../css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{../css/main.css}" rel="stylesheet" />
</head>
<body>
	<div th:insert="~{fragment/main :: menu}" class="header"></div>
	
		<section class="jumbotron jumbotron-fluid">
	
		<div class="container">
		<h1>Seu Carrinho!</h1>
		<p th:text="${sucesso}"> sucesso </p>
		<p th:text="${falha}"> falha </p>
	
		<table class="table table-bordered table-striped table-hover">
			<tr>
				<th>Título</th>
				<th>Descrição</th>
				<th>Preços</th> 
				<th>Páginas</th>
			</tr>
			<tr th:each="livro : ${carrinho.itens}">
				<td><span th:text="${livro.titulo }">Titulo</span></td>
				<td><span th:text="${livro.descricao }">Descrição</span></td>
				<td><span th:text="${livro.preco }">Preços</span></td>
				<td><span th:text="${livro.paginas }">Páginas</span></td>
			</tr>
		</table>
	</div>
	</section>
	
	<div class="footer" th:insert="~{fragment/main :: footer}"></div>
</body>
</html>