<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="imagem/png" href="img/livraria-ico.png" />
	<title>Sobre Nós</title>
	<link th:href="@{../css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{../css/main.css}" rel="stylesheet" />
</head>
<body>
	<div th:insert="~{fragment/main :: menu}" class="header"></div>
	
	<div class="jumbotron jumbotron-fluid">
	
		<div class="container">
	
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fringilla non massa sed eleifend. Quisque vulputate sollicitudin libero, id dignissim velit. Quisque et porta diam. Vivamus congue semper egestas. Sed et augue vitae elit luctus pretium. Ut mattis commodo eros in egestas. Quisque a tellus egestas, pharetra lacus at, varius neque. Sed massa nisl, imperdiet a odio et, placerat fringilla lectus. Phasellus pellentesque lacus eget sem pharetra venenatis. Aenean tincidunt ex ut pharetra dapibus.</p>
			
			<p>Etiam aliquet lacus turpis, in semper nisi vestibulum non. Aenean vehicula erat diam, facilisis congue ligula facilisis vel. Donec cursus mollis elementum. Vivamus eget mauris mollis, vehicula libero sit amet, volutpat dui. Curabitur at urna ligula. Etiam feugiat risus ut felis lobortis, ac blandit ante molestie. Duis non lacinia lectus, eget condimentum felis. Fusce ante est, laoreet ut gravida at, sodales eu tellus. Praesent imperdiet auctor venenatis. Curabitur ut ipsum rhoncus, vestibulum tortor et, lacinia justo. Pellentesque dictum commodo arcu, in maximus tellus volutpat at. Aliquam commodo lorem quis nisl aliquet venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac molestie quam. Mauris non velit ac lacus commodo consectetur. Morbi malesuada convallis lectus a viverra.</p>
			
			<p>Nam nec tempus tortor. Maecenas ligula urna, tempor ut varius sed, aliquam interdum ipsum. Proin vel magna pretium, bibendum erat ut, gravida ligula. Duis id nulla lobortis, blandit nibh ac, dictum enim. Suspendisse finibus nunc eu turpis aliquet, ut luctus nisi consectetur. Vestibulum lobortis mauris et elit facilisis, eu convallis diam maximus. Phasellus suscipit sapien quis posuere vulputate. Nulla ultricies accumsan enim sit amet condimentum. Cras congue felis quis mi egestas, eget laoreet urna tincidunt.</p>
			
			<p>Quisque nec cursus nisi. Nullam malesuada tellus vitae nisl congue aliquam vitae vel tellus. Nunc a congue turpis. Nullam eu dui pellentesque, feugiat sem in, elementum lorem. Aenean sed nibh in velit fringilla fermentum eu et libero. Nulla consequat lacus in purus efficitur, quis placerat nibh faucibus. Morbi sagittis orci ligula, eget convallis nisl mollis ac. Integer augue leo, eleifend ac volutpat vel, porta vel quam. Nunc lacinia, nibh a scelerisque vestibulum, est eros dictum sapien, ut laoreet dolor arcu eu sapien. Aenean nunc mauris, fringilla sit amet tempor in, elementum in ante.</p>
			
			<p>Nullam dignissim turpis vitae pretium blandit. Donec turpis libero, euismod eu mauris in, porttitor pharetra purus. Mauris porttitor at turpis ut feugiat. Maecenas ut tempus orci. Quisque nec purus suscipit, dignissim tortor a, maximus tortor. Nulla facilisi. Ut faucibus felis a elit mollis commodo. Integer elementum ipsum pretium libero feugiat aliquam. Cras non ullamcorper nibh. Integer id facilisis ante. Pellentesque sit amet ligula eget dolor convallis malesuada. Vivamus maximus, nulla vel interdum gravida, orci metus venenatis dui, eu viverra velit dolor cursus nisi. In at imperdiet nisi. Fusce nec malesuada sem, blandit aliquet nulla. Duis vehicula, mi sed fermentum sodales, erat arcu tincidunt dolor, id placerat sem magna non orci. </p>
			
		</div>
	</div>
		
	<div class="footer" th:insert="~{fragment/main :: footer}"></div>
</body>
</html>