<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="imagem/png" th:href="@{../img/livraria-ico.png}" />
	<title>Livraria Assis - Erro 403</title>
	<link th:href="@{../css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{../css/main.css}" rel="stylesheet" />
	<link th:href="@{../css/index.css}" rel="stylesheet" />
	<link th:href="@{../css/403.css}" rel="stylesheet" />
	</head>
<body>
	<div th:insert="~{fragment/main :: menu}" class="header"></div>
	<div id="app">
	   <div>403</div>
	   <div class="txt">
	      Proibido<span class="blink">_</span>
	   </div>
	</div>
	<div class="footer" th:insert="~{fragment/main :: footer}"></div>
</body>
</html>