.sucesso-msg{
	color: #cd3232;
}

.container{
	margin-bottom: 30px;
}

.titulo{
	text-align: center;
	font-weight: 800;
}

.img-base{
	width: 100%;
}

figure{
	float: right;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
	border: thin silver solid;
	margin: 0.5em;
	padding: 0.5em;
}