.input-quantidade{
	width: 60%;
}

.th-esp{
	width: 15%;
}

.btn-finalizar{
	border:0;
    font-size: 1.37em;
    cursor: pointer;
    display: inline-block;
    padding: 1em .5em;
    float: right;
    text-transform: uppercase;
    margin-top: 27px;
    margin-bottom: 27px;
    border-radius: 7px;
    color: white;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3), inset 0px 0px 3px 1px rgba(255,255,255,0.6);
    text-shadow: 1px 1px 0px black;
    background-color: #daa520;
}

